useDynLib("VanillaICE", .registration=TRUE)
importClassesFrom(methods, ANY, character, data.frame, "function", integer, matrix, numeric)
importMethodsFrom(methods, initialize, show)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importMethodsFrom(Biobase, sampleNames)
importMethodsFrom(oligoClasses, open, close, coverage2, state)
importFrom(oligoClasses, RangedDataHMM)
importFrom(methods, "@<-", callNextMethod, new, validObject)
##importFrom(graphics, plot)
importFrom(stats, update)
importFrom(lattice, xyplot, simpleKey, panel.grid, panel.xyplot, lrect, ltext)
export(hmm.setup, HmmOptionList, robustSds, centerAutosomesAt)
##export(plot)
exportMethods("hmm", "LLR", "xyplot")


