useDynLib("VanillaICE", .registration=TRUE)
importClassesFrom(methods, ANY, character, data.frame, "function", integer, matrix, numeric)
importMethodsFrom(methods, initialize, show)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importMethodsFrom(Biobase, sampleNames)
importFrom(Biobase,rowMedians)
importMethodsFrom(oligoClasses, open, close, coverage2, state)
importMethodsFrom(IRanges, order)
importFrom(oligoClasses, RangedDataHMM)
importFrom(methods, "@<-", callNextMethod, new, validObject)
importFrom(stats, update, sd)
##importMethodsFrom(IRanges, sd)
importFrom(lattice, xyplot, simpleKey, panel.grid, panel.xyplot, lrect, ltext,
	   lpoints, panel.number)

exportClasses(HmmOptionList)
export(centerAutosomesAt, hmm.setup, HmmOptionList, robustSds, xypanel)
export(icePlatforms,order,sd)
exportMethods(cnEmission, gtEmission, hmm, order, sd, xyplot)


